.desktop,
.desktop * {
  box-sizing: border-box;
}
.desktop {
  background: #ffffff;
  width: 1440px;
  height: 2182px;
  position: relative;
  overflow: hidden;
}
.rectangle-41 {
  background: #edf7fa;
  width: 1440px;
  height: 389px;
  position: absolute;
  left: 0px;
  top: 752px;
}
.work {
  color: var(--light, #7b8895);
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 1006px;
  top: 56px;
}
.mk {
  color: #000000;
  text-align: left;
  font: 600 20px "Poppins", sans-serif;
  position: absolute;
  left: 160px;
  top: 56px;
}
.blog {
  color: var(--light, #7b8895);
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 1102px;
  top: 56px;
}
.contact {
  color: var(--light, #7b8895);
  text-align: left;
  font: 500 20px "Poppins", sans-serif;
  position: absolute;
  left: 1198px;
  top: 56px;
}
.i-am-max-creative-technologist {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 700 44px/60px "Heebo", sans-serif;
  position: absolute;
  left: 160px;
  top: 248px;
}
.hola {
  color: #ff6464;
  text-align: left;
  font: 400 20px "Roboto", sans-serif;
  position: absolute;
  left: 160px;
  top: 209px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.ellipse-3 {
  background: linear-gradient(to left, #edf7fa, #edf7fa);
  border-radius: 50%;
  width: 328px;
  height: 328px;
  position: absolute;
  left: 928px;
  top: 256px;
}
.integer-eget-rutrum-odio-vestibulum-lobortis-nibh-nec-tempus-pharetra-maecenas-a-tincidunt-libero-nunc-vitae-luctus-magna-nulla-eleifend-velit-a-laoreet-egestas-elit-felis-finibus-purus-efficitur-iaculis-neque-leo-non-purus {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 160px;
  top: 408px;
  width: 544px;
}
.integer-eget-rutrum-odio-vestibulum-lobortis-nibh-nec-tempus-pharetra-maecenas-a-tincidunt-libero-nunc-vitae-luctus-magna-nulla-eleifend-velit-a-laoreet-egestas-elit-felis-finibus-purus-efficitur-iaculis-neque-leo-non-purus2 {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 448px;
  top: 1368px;
  width: 736px;
}
.integer-eget-rutrum-odio-vestibulum-lobortis-nibh-nec-tempus-pharetra-maecenas-a-tincidunt-libero-nunc-vitae-luctus-magna-nulla-eleifend-velit-a-laoreet-egestas-elit-felis-finibus-purus-efficitur-iaculis-neque-leo-non-purus3 {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 448px;
  top: 1600px;
  width: 736px;
}
.integer-eget-rutrum-odio-vestibulum-lobortis-nibh-nec-tempus-pharetra-maecenas-a-tincidunt-libero-nunc-vitae-luctus-magna-nulla-eleifend-velit-a-laoreet-egestas-elit-felis-finibus-purus-efficitur-iaculis-neque-leo-non-purus4 {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 448px;
  top: 1840px;
  width: 736px;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.rectangle-42 {
  background: #ff6464;
  width: 256px;
  height: 56px;
  position: absolute;
  left: calc(50% - 560px);
  top: calc(50% - 531px);
}
.hire-me {
  color: #ffffff;
  text-align: left;
  font: 500 20px "Heebo", sans-serif;
  position: absolute;
  left: calc(50% - 470px);
  top: calc(50% - 517px);
}
.group-11 {
  position: absolute;
  inset: 0;
}
.rectangle-43 {
  border-style: solid;
  border-color: var(--secondry, #00a8cc);
  border-width: 1px;
  width: 256px;
  height: 56px;
  position: absolute;
  left: calc(50% - 272px);
  top: calc(50% - 531px);
}
.download-cv {
  color: var(--secondry, #00a8cc);
  text-align: left;
  font: 500 20px "Heebo", sans-serif;
  position: absolute;
  left: calc(50% - 205px);
  top: calc(50% - 517px);
}
.recent-posts {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 400 22px "Heebo", sans-serif;
  position: absolute;
  left: 160px;
  top: 781px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.featured-works {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 400 22px "Heebo", sans-serif;
  position: absolute;
  left: 160px;
  top: 1205px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.view-all {
  color: var(--secondry, #00a8cc);
  text-align: right;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 1224px;
  top: 785px;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.rectangle-44 {
  background: #ffffff;
  width: 352px;
  height: 252px;
  position: absolute;
  left: 160px;
  top: 837px;
}
.integer-eget-rutrum-odio-vestibulum-lobortis-nibh-nec-tempus-pharetra-maecenas-a-tincidunt-libero {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 181px;
  top: 993px;
  width: 310px;
}
.making-a-design-system-from-scratch {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 181px;
  top: 858px;
  width: 272px;
  height: 71px;
}
._12-feb-2020 {
  color: var(--light-2, #94a4b5);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 181px;
  top: 945px;
}
.design-pattern {
  color: var(--light-2, #94a4b5);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 382px;
  top: 945px;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.rectangle-45 {
  background: #ffffff;
  width: 352px;
  height: 252px;
  position: absolute;
  left: 544px;
  top: 837px;
}
.integer-eget-rutrum-odio-vestibulum-lobortis-nibh-nec-tempus-pharetra-maecenas-a-tincidunt-libero2 {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 565px;
  top: 993px;
  width: 310px;
}
.creating-pixel-perfect-icons-in-figma {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 565px;
  top: 858px;
  width: 267px;
  height: 71px;
}
._12-feb-20202 {
  color: var(--light-2, #94a4b5);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 565px;
  top: 945px;
}
.figma-icon-design {
  color: var(--light-2, #94a4b5);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 739px;
  top: 945px;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.rectangle-46 {
  background: #ffffff;
  width: 352px;
  height: 252px;
  position: absolute;
  left: 928px;
  top: 837px;
}
.integer-eget-rutrum-odio-vestibulum-lobortis-nibh-nec-tempus-pharetra-maecenas-a-tincidunt-libero3 {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 949px;
  top: 993px;
  width: 310px;
}
.making-better-layout-grid-for-all-devices {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 500 24px "Poppins", sans-serif;
  position: absolute;
  left: 949px;
  top: 858px;
  width: 267px;
  height: 71px;
}
._12-feb-20203 {
  color: var(--light-2, #94a4b5);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 949px;
  top: 945px;
}
.figma-grid-design {
  color: var(--light-2, #94a4b5);
  text-align: left;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 1125px;
  top: 945px;
}
.rectangle-47 {
  background: var(--secondry, #00a8cc);
  border-radius: 7px;
  width: 256px;
  height: 185px;
  position: absolute;
  left: 160px;
  top: 1264px;
}
.rectangle-48 {
  background: var(--secondry, #00a8cc);
  border-radius: 7px;
  width: 256px;
  height: 185px;
  position: absolute;
  left: 160px;
  top: 1496px;
}
.rectangle-50 {
  background: var(--secondry, #00a8cc);
  border-radius: 7px;
  width: 256px;
  height: 185px;
  position: absolute;
  left: 160px;
  top: 1736px;
}
.designing-dashboards {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 500 30px "Heebo", sans-serif;
  position: absolute;
  left: 448px;
  top: 1256px;
}
.glassmorphism-design {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 500 30px "Heebo", sans-serif;
  position: absolute;
  left: 448px;
  top: 1488px;
}
.designing-portfolio {
  color: var(--dark-color, #21243d);
  text-align: left;
  font: 500 30px "Heebo", sans-serif;
  position: absolute;
  left: 448px;
  top: 1728px;
}
.dashboard {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 20px "Heebo", sans-serif;
  position: absolute;
  left: 544px;
  top: 1320px;
}
.glassmorphism {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 20px "Heebo", sans-serif;
  position: absolute;
  left: 544px;
  top: 1552px;
}
.portfolio {
  color: var(--light, #7b8895);
  text-align: left;
  font: 400 20px "Heebo", sans-serif;
  position: absolute;
  left: 544px;
  top: 1788px;
}
.group-15 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #142850;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  position: absolute;
  left: 448px;
  top: 1322px;
}
._2020 {
  color: #ffffff;
  text-align: left;
  font: 900 16px "Heebo", sans-serif;
  position: absolute;
  left: 460px;
  top: 1323px;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.rectangle-49 {
  background: #142850;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  position: absolute;
  left: 448px;
  top: 1554px;
}
._20202 {
  color: #ffffff;
  text-align: left;
  font: 900 16px "Heebo", sans-serif;
  position: absolute;
  left: 460px;
  top: 1555px;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.rectangle-51 {
  background: #142850;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  position: absolute;
  left: 448px;
  top: 1794px;
}
._20203 {
  color: #ffffff;
  text-align: left;
  font: 900 16px "Heebo", sans-serif;
  position: absolute;
  left: 460px;
  top: 1795px;
}
.line-1 {
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1472px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1704px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-3 {
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1944px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-52 {
  background: #edf7fa;
  width: 1440px;
  height: 182px;
  position: absolute;
  left: 0px;
  top: 2000px;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.copyright {
  color: #000000;
  text-align: center;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 590px;
  top: 2112px;
}
._2023-all-right-reserved {
  color: #000000;
  text-align: center;
  font: 400 16px "Heebo", sans-serif;
  position: absolute;
  left: 681px;
  top: 2112px;
}
.group-7 {
  width: 16px;
  height: 16px;
  position: static;
}
.ic-baseline-copyright {
  position: absolute;
  left: 662px;
  top: 2116px;
  overflow: visible;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.mdi-twitter {
  position: absolute;
  left: 627px;
  top: 2056px;
  overflow: visible;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.mdi-linkedin {
  position: absolute;
  left: 735px;
  top: 2056px;
  overflow: visible;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.ri-instagram-fill {
  position: absolute;
  left: 681px;
  top: 2056px;
  overflow: visible;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.gg-figma {
  position: absolute;
  left: 789px;
  top: 2056px;
  overflow: visible;
}
